body{
	background-color: #DEB887;
    font-family: 'Quicksand', sans-serif;
}

.wrapper{
	width: 50%;
	height: 70%;
}
.navbar{
	margin-bottom: 20;
}

.navbar-header{
	background-color: lightcyan;
	width: 36%;
	height: 30%;
	text-align: center;
	font-size: 20px;
	font-color: #2F4F4F;
	font-family: Tahoma, Geneva, sans-serif;
}

.sidebar{
	width: 50%;
	height: 90%;
	background: #293949;
	position: absolute;
	z-index: 200;
}
ul{
	padding: 0;
	margin-left: -40px;
}


ul li{
	list-style: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
}
ul li a{
	text-decoration: none;
	color: #aeb2b7;
	display: block;
	padding: 19px 0px 28px 50px;
	transition: all 200ms ease-in;
}
ul li a:hover{
	text-decoration: none;
	color: #1abc9c;
}
ul li a:visited{
	text-decoration: none;
		color: #fff;
}
li li a span{
	display: inline-block;
}
ul ul{
	display: none;
	margin:0px;
}
ul li a .fa-angle-down{
	margin-right: 10px;
}



/*apabila lebar min 768px*/
@media(min-width: 768px) {
	.sidebar{
		width: 240px;
	}
	.content{
		margin-left: 500px;
	}
	.inner{
		padding: 30px;
	}
}